/* VARIABLES */

:root {
  --basic-white: #FFFFFF;
  --white-opacity: rgba(255, 255, 255, 0.3);
  --footer-background: rgba(255, 255, 255, 0.9);
  --basic-brown: #766357;
  --basic-blue: #81B3D2;
  --basic-gray:#888888;

  --title-text:  #000000;
  --ordinary-text: #333333;
  --rating-text: #666666;
  --items-background: #EEEEEE;
  --image-background: #9EB0B5;
  --separate-line: #E5E5E5;
  
  --brown-hover: #604E43;
  --brown-focus: #503E33;

  --blue-hover: #669EC0;
  --blue-focus: #5496BD;

  --input-number: #F2F2F2;
  --input-number-hover: #EBEBEB;
  --academy-logo-focus: #BDBBBC;
  --toggle-inside: #ABABAB;
}

/* GLOBAL */
a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

p {
	margin: 0;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
  }

.page {
	background-color: var(--basic-gray);
	height: 100%;
}

.page-body {
	position: relative;
	min-width: 1200px;
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	text-transform: uppercase;
	color: var(--ordinary-text);
	background-color: var(--basic-white);
}

.title-style {
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}

/* INDEX PAGE */

.header-container {
	line-height: 26px;
	font-weight: 700;
}

.main-container {
	background-color: var(--basic-white);
}

.navigation-list, .features-list,
.search-result {
	list-style: none;
	padding: 0;
}

.navigation-list {
	min-width: 100%;
	box-sizing: border-box;
	font-size: 0;
	display: flex;
	padding: 15px 72px;
}

.navigation-item {
	font-size: 14px;
	line-height: 26px;
	flex-basis: 228px;
}

.navigation-item:nth-child(-n+3) {
	text-align: left;
}

.navigation-item:nth-child(n+3) {
	text-align: right;
}

.navigation-item:nth-child(2) {
	flex-grow: 1;
}

.navigation-item:nth-child(3) {
	flex-grow: 1;
}

.navigation-item:nth-child(1) {
	flex-grow: 0;
}

.navigation-item:nth-child(4) {
	flex-grow: 0;
}

.navigation-item a {
	color: var(--title-text);
}
.navigation-item a:hover {
	color: var(--basic-blue);
}
.navigation-item a:focus {
	opacity: 0.3;
}
.navigation-item.active {
	color: var(--basic-brown);
}

.site-logo {
	position: absolute;
	z-index: 1;
	left: 50%;
	transform: translateX(-69px);
}

.welcome-image{	
	position: relative;
	background-color: var(--basic-blue);
	width: 100%;
	max-height: 509px;
	margin: 0;
	background-repeat: no-repeat;
}

.background-welcome-image {
	position: relative;
	z-index: 0;
	width: 100%;
	max-height: inherit;
}

.welcome-image::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 56px;
	bottom: 0;
	left: 0px;
	background-image: url(../img/background_mask.svg)
}

.welcome-words {
	position: absolute;
	z-index: 1;
	left: 50%;
	transform: translate(-50%, 76.35px);
}

.welcome-mask {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 452px;
}

.top-block-center {
	position: relative; 
	padding-top: 43px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bottom-block-center {
	position: relative;
	margin: 0;
	padding-top: 56px;
	padding-bottom: 130px;
	line-height: 26px;
	display: flex;
	flex-direction: column;
	align-items: center
}

.top-title {
	margin: 0;
	margin-bottom: 16px;
	width: 470px;
	padding-bottom: 30px;
}

.top-title-text {
	margin-bottom: 54px;
	width: 519px;
}

.inner-flex{
	display: flex;
	flex-wrap: wrap;
}

.image img{
	background-color: var(--image-background);
	display: block;
}

section.f2 {
	padding: 0px 49px;
	padding-top: 50px;
}

section.f3 {

}

.feature-number {
	margin-bottom: 23px;
	line-height: 21px;
}

.feature-description {
	padding: 1px 0px;
}

.feature-item {
	position: relative;
	width: 400px;
	text-align: center;
	padding-top: 47px;
	padding-left: 50px;
	padding-right: 50px;
	box-sizing: border-box;
	background-color: var(--items-background);
}

section[class*="illustrated"] {
	background-color: var(--basic-blue);
	color: var(--basic-white);	
}

.main {
	height: min-content;
	padding: 55px 55px;
	padding-bottom: 81px;
}

.ordinary {
	padding-bottom: 54px;
}

.house-svg {
	height: 72px;
	width: 75px;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 28px;
	background-image: url(../img/icon_house.svg);
}

.burger-svg {
	height: 70px;
	width: 75px;
	margin: auto;
	margin-top: 6px;
	margin-bottom: 28px;
	background-image: url(../img/icon_burger.svg);
}

.box-svg {
	height: 77px;
	width: 64px;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 28px;
	background-image: url(../img/icon_box.svg);
}

.main-feature-description {
	margin: 0;
}

.features {
	background-color: var(--items-background);
}

.feature-title {
	font-size: 21px;
	font-weight: 700;
	padding: 1px 70px;
	margin: 0;
	margin-bottom: 25px;
}

.bottom-title {
	font-size: 30px;
	font-weight: 700;
	line-height: 24px;
	padding-right: 13px;
	margin-bottom: 4px;

}

.bottom-title-text {
	line-height: 24px;
	width: 435px;
	padding-top: 30px;
}

.search-form-main-page{
	position: absolute;
	top: 205px;
	width: 568px;
	line-height: 26px;
	font-weight: 700;
}

.top-search-button {
	width: 100%;
	padding: 30px 0px;
	font-size: 21px;
	text-transform: uppercase;
	color: var(--basic-white);
	background-color: var(--basic-brown);
	border: none;
}

.top-search-button:hover {
	background-color: var(--brown-hover);
}

.top-search-button:focus {
	background-color: var(--brown-focus);
	color: var(--white-opacity);
}

.bottom-search-form {
	background-color: var(--basic-white);
	display: grid;
	grid-template-columns: 112px 114px auto 114px;
	grid-template-rows: repeat(2, 38px) 62px;
	grid-template-areas: 
		"l1 d1 d1 d1"
		"l2 d2 d2 d2"
		"l3 n1 l4 n2"
		"s s s s";
	row-gap: 30px;
	padding: 55px;
	line-height: 26px;
	font-weight: 700;
}

.bottom-search-form label {
	align-self: center;
}

.bottom-search-form input {
	border: none;
	background-color: var(--input-number);
}

.bottom-search-form input:hover {
	background-color: var(--input-number-hover);
}

.bottom-search-form input:focus {
	background-color: var(--basic-white);
}

.check-in-label {
	grid-area: l1;
	text-align: left;
}

.check-out-label {
	grid-area: l2;
	text-align: left;
}

.check-in-date {
	grid-area: d1;
}

.check-out-date {
	grid-area: d2;
}

.adults-label {
	grid-area: l3;
	text-align: left;
}

.adults-number {
	grid-area: n1;
}

.children-label {
	grid-area: l4;
}

.children-number {
	grid-area: n2;
}

.before-button-row {
	margin-bottom: 22px;
}

input.search-button {
	grid-area: s;
	width: 458px;
	padding: 16px 0px;
	background-color: var(--basic-blue);
	text-transform: uppercase;
	color: var(--basic-white);
	font-weight: bold;
	font-size: 21px;
	line-height: 27px;
	border: none;
}

input.search-button:hover {
	background-color: var(--blue-hover);
}

input.search-button:focus {
	background-color: var(--blue-focus);
	color: var(--white-opacity);
}

.guests-number {
	width: 114px;
	font-weight: 700;
	line-height: 26px;
	padding: 6px 0px;
	padding-left: 13px;
}

.detail-button {
	width: 110px;
	padding: 3px 0px;
	font-weight: 700;
	line-height: 21px;
	text-transform: uppercase;
	background-color: var(--basic-blue);
	color: var(--basic-white);
	border: none;
}

.detail-button:hover {
	background-color: var(--blue-hover);
}

.detail-button:focus {
	background-color: var(--blue-focus);
	color: var(--white-opacity);
}

.hotel-book-button {
	width: 142px;
	/* padding: 3px 0px; */
	font-weight: 700;
	line-height: 21px;
	text-transform: uppercase;
	background-color: var(--basic-brown);
	color: var(--basic-white);
	border: none;
}

.hotel-book-button:hover {
	background-color: var(--brown-hover);
}

.hotel-book-button:focus {
	background-color: var(--brown-focus);
	color: var(--white-opacity);
}

.book-button {
	width: 142px;
	height: 27px;
	text-transform: uppercase;
	background-color: var(--basic-brown);
	color: var(--basic-white);
	border: 0;
}

.image-map {
	margin: 0;
}

/* FOOTER */

.footer-container {
	position: relative;
	z-index: 1;
	background-color: var(--footer-background);
	bottom: 125px;
	height: 120px;
	width: 100%;
	display: grid;
	grid-template-columns: 327px 400px 327px;
	align-items: center;
	padding: 0 73px;
	box-sizing: border-box;
}

.contacts-container {
	margin-bottom: 5px;
}

.contacts-text {
	margin-bottom: 9px;
}

.social-list {
	list-style: none;
	padding: 0px;
	font-size: 0px;
	line-height: 0px;
}

.social-item {
	display: inline;
	margin-right: 6px;
}

.social-item:last-child {
	margin-right: 0;
}

.twitter-icon {
	display: inline-block;
	background-color: var(--basic-blue);
	fill: white;
}
.twitter-icon:hover {
	background-color: var(--blue-hover);
}
.twitter-icon:focus {
	background-color: var(--blue-focus);
	fill: var(--basic-white);
	fill-opacity: 0.3;
}

.facebook-icon {
	display: inline-block;
	background-color: var(--basic-blue);
	fill: white;	
}
.facebook-icon:hover {
	background-color: var(--blue-hover);
}
.facebook-icon:focus {
	background-color: var(--blue-focus);
	fill: var(--basic-white);
	fill-opacity: 0.3;
}

.youtube-icon {
	display: inline-block;
	background-color: var(--basic-blue);
	fill: white;	
}
.youtube-icon:hover {
	background-color: var(--blue-hover);
}
.youtube-icon:focus {
	background-color: var(--blue-focus);
	fill: var(--basic-white);
	fill-opacity: 0.3;
}

.academy-link-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.academy-link-text {
	line-height: 26px;
	margin-right: 8px;
}

.academy-logo {
	fill: var(--ordinary-text);
}
.academy-logo:hover {
	fill: var(--basic-blue);
}
.academy-logo:focus {
	fill: var(--academy-logo-focus);
}

/* CATALOG */

.search-form {
	background: url("../img/catalog_background.jpg");
	background-size: cover;
	color: var(--basic-white);
	padding: 0 72px;
	display: flex;
	justify-content: space-between;
}

.field {
	text-align: left;
	padding: 0;
	margin: 0;
	border: none;
	margin: 23.5px 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.criteria-title {
	font-weight: bold;
	font-size: 16px;
	color: var(--basic-white);
	text-align: start;
}

.criteria-label {
	position: relative;
	padding-left: 40px;
	margin-top: 24px;
	color: var(--basic-white);
}

.criteria-label input {
	position: absolute;
	opacity: 0;
}

.checkmark {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 23px;
	width: 27px;
	background-image: url(../img/checkbox-off.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.criteria-label input:disabled ~ .checkmark {
	background-image: url(../img/checkbox-blocked-off.svg);
}

.criteria-label input:checked:disabled ~ .checkmark {
	background-image: url(../img/checkbox-blocked--on.svg);
}

.criteria-label input:checked ~ .checkmark {
	background-image: url(../img/checkbox-on.svg);
}

.price-field {
	padding-left: 210px;
	padding-right: 73px;
	width: 317px;
}

.price-controls {
	margin-top: 10.5px;
	text-align: center;
	padding: 7px 0px;
	border: 2px solid var(--basic-white);
	border-radius: 2px;
	display: flex;
	width: 317px;
}

.price-controls label {
	display: inline-block;
	height: 22px;
	/* outline: 1px solid white; */
}

.price-controls input {
	background: inherit;
	font-size: inherit;
	font-family: inherit;
	padding: 0;
	border: none;
	color: var(--basic-white);
}

.max-price {
	padding-left: 52px;
}

.min-price {
	border-right: 2px solid var(--basic-white);
	padding-left: 55px;
	padding-right: 30px;
}

.range-controls {
	position: relative;
	padding: 30px 0px;
}

.range-controls .scale {
	height: 3px;
	background: var(--white-opacity);	
}

.range-controls .bar {
	height: 3px;
	background: var(--basic-white);	
}

.toggle {
	position: absolute;
	top: 22px;
	left: 0px;;
	width: 3.8px;
	height: 3.8px;
	background-color: var(--toggle-inside);
	border: 7.64px solid var(--basic-white);
	border-radius: 50%;
	cursor: pointer;
}

.toggle:hover {
	border: 9.2px solid var(--basic-white);
}

.toggle-max {
	left: 253px;
}

.show-button {
	height: 36px;
	width: 137px;
	text-transform: uppercase;
	background-color: transparent;
	color: var(--basic-white);
	border: 2px solid var(--basic-white);
	border-radius: 2px;
	padding: auto;
	margin: auto;
}

.show-button:hover {
	background-color: var(--basic-white);
	color: var(--title-text);
	/* outline: 2px solid var(--basic-white); */
	/* border-radius: 2px; */
}

.search-results {
	padding: 0;
}

.search-results-list {
	padding-inline-start: 0;
	display: flex;
	flex-direction: column;
}

.search-results-header {
	margin: 0 73px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.number-searched {
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	margin: 29px 0;
}

.sort-type {
	display: flex;
}

.sort-type-text {
	margin-right: 40px;
}

.sort-type-label {
	position: relative;
	margin: 0 20px;
	font-size: 12px;
	line-height: 18px;
	opacity: 0.3;	
}

.sort-type-label > span{
	display: block;
	border-bottom: 1px dashed var(--basic-blue);
}	

.sort-type-label input:checked + span{
	color: var(--basic-blue);
	opacity: 1;
	border-bottom: none;
}

.sort-type-label input {
	position: absolute;
	opacity: 0;
}

.sort-type-label:hover{
	color: var(--basic-blue);
}

.sort-type-label:focus {
	color: var(--title-text);
}

.search-results-item {
	text-align: left;
	padding-top: 23.5px;
	padding-bottom: 30px;
	border-top: 1px solid var(--separate-line);
	/* display: grid;
	grid-template-areas: 
	"im name name stars"
	"im type price ."
	"im details book rating";
	grid-template-columns: auto min-content 1fr 183px;
	column-gap: 6px;
	row-gap: 7px; */
	display: flex;
}

.search-results-item:last-child {
	padding-bottom: 30px;
	border-bottom: 1px solid var(--separate-line);	
}

.hotel-image {
	padding-top: 8.5px;
	padding-left: 73px;
	padding-right: 23px;
	width: auto;
}

.hotel-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.two-hotel-button {
	display: flex;
}

.hotel-type {
	display: inline-block;
	width: 110px;
	margin-right: 6px;
}

.hotel-name {
	margin: 0px;
}

.hotel-price {
	grid-area: price;
}

.hotel-book-button {
	grid-area: book;
	padding: 0px;
}

.hotel-details-button {
	margin-right: 6px;
}

.stars-rating-block {
	width: 632px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hotel-rating {
	background-color: var(--input-number);
	text-align: center;
	align-self: flex-end;
}

.hotel-rating-text {
	display: inline-flex;
	align-items: center;
	padding: 3px 12px;
}

.hotel-stars {
	text-align: right;
	display: inline-block;
	font-size: 0;
}

.hotel-stars span {
	padding: 0;
	font-size: 20px;
	line-height: 1;
	color:#81B3D2;
}

.hotel-stars > span:before {
	content: '★';
}