/* variables */

:root {
  --basic-white: #FFFFFF;
  --basic-brown: #766357;
  --basic-blue: #81B3D2;
  --basic-gray:#888888;

  --title-text:  #000000;
  --ordinary-text: #333333;
  --rating-text: #666666;
  
  --button-hover: #604E43;
  --button-focus: #503E33;

  --social-hover: #669EC0;
  --social-focus: #5496BD;
}

/* global */

body {
	min-width: 1200px;
	margin: 0;
	padding: 0;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	text-transform: uppercase;
	background-color: var(--background-gray);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.main-navigation {
	line-height: 26px;
	font-weight: 700;
	background-color: var(--basic-white);
}

.site-navigation {
	list-style: none;
}

.site-navigation a {
	color: var(--title-text);
}

.site-navigation a:hover {
	color: var(--basic-blue);
}

.site-navigation a:focus {
	opacity: 0.3;
}

.welcome{
	background-image: url("../img/index_background.jpg");
	/* border: 1px dashed red; */
	width: 1200px;
	height: 509px;
}


.rating-mini {
	display: inline-block;
	font-size: 0;
}
.rating-mini span {
	padding: 0;
	font-size: 20px;
	line-height: 1;
	color:#81B3D2;
}
.rating-mini > span:before {
	content: '★';
}

.search{
	background-image: url("../img/catalog_background.jpg");
	border: 3px dashed #cfab49;
	width: 1200px;
	height: 217px;
}

.hidden {
	display: none;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}