/* variables */

:root {
  --basic-white: #FFFFFF;
  --white-opacity: rgba(255, 255, 255, 0.3);
  --basic-brown: #766357;
  --basic-blue: #81B3D2;
  --basic-gray:#888888;

  --title-text:  #000000;
  --ordinary-text: #333333;
  --rating-text: #666666;
  --items-background: #EEEEEE;
  --image-background: #9EB0B5;
  
  --brown-hover: #604E43;
  --brown-focus: #503E33;

  --blue-hover: #669EC0;
  --blue-focus: #5496BD;

  --input-number: #F2F2F2;
  --input-number-hover: #EBEBEB;
}

/* global */

body {
	min-width: 1200px;
	margin: 0;
	padding: 0;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	text-transform: uppercase;
	background-color: var(--background-gray);
	color: var(--ordinary-text);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 1200px;
}

.main-navigation {
	line-height: 26px;
	font-weight: 700;
	background-color: var(--basic-white);
}

.navigation-list, 
.features-list,
.social-list {
	list-style: none;
	padding: 0;
}

.navigation-list a {
	color: var(--title-text);
}

.navigation-list a:hover {
	color: var(--basic-blue);
}

.navigation-list a:focus {
	opacity: 0.3;
}

.active a {
	color: var(--basic-brown);
}

.welcome-image{
	background-image: url("../img/index_background.jpg");
	background-color: var(--basic-blue);
	width: 100%;
	height: 509px;
	background-repeat: no-repeat;
}

.top-title {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: var(--basic-black);
}

.top-title__text {
	line-height: 26px;
}

.illustrated-feature {
	width: 400px;
	background-color: var(--basic-blue);
	color: var(--basic-white);
	text-align: center;
	padding: 47px 49px;
	box-sizing: border-box;
}

.image img{
	background-color: var(--image-background);
}

.main-feature-item {
	width: 400px;
	text-align: center;
	box-sizing: border-box;
	/* border: 1px dashed red; */
	padding: 60px 55px;
}

.features {
	background-color: var(--items-background);
}

.feature-title {
	font-size: 21px;
	font-weight: 700;
	padding: 0 70px;	
}

.feature-item {
	width: 400px;
	/* border: 1px dashed red; */
	text-align: center;
	padding: 47px 65px;
	box-sizing: border-box;
}

.feature-item:last-child {
	padding-right: 77px;
}


.bottom__title {
	font-size: 30px;
	font-weight: 700;
	line-height: 24px;
}

.bottom__text {
	line-height: 24px;
}

.search-form {
	width: 568px;
}

.top-search-button {
	width: 100%;
	height: 86px;
	font-family: PT Sans;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
	color: var(--basic-white);
	background-color: var(--basic-brown);
}

.top-search-button:hover {
	background-color: var(--brown-hover);
}

.top-search-button:focus {
	background-color: var(--brown-focus);
	color: var(--white-opacity);
}

.bottom-search-form {
	font-weight: 700;
	font-size: 14px;
	line-height: 26px;
}

input.number {
	background-color: var(--input-number);
}

input.number:hover {
	background-color: var(--input-number-hover);
}

input.number:focus {
	background-color: var(--basic-white);
}

.date-input {
	width: 346px;
	height: 38px;
}

.search-button {
	width: 458px;
	height: 58px;
	background-color: var(--basic-blue);
	text-transform: uppercase;
	color: var(--basic-white);
	font-weight: bold;
	font-size: 21px;
	line-height: 27px;
}

.search-button:hover {
	background-color: var(--blue-hover);
}

.search-button:focus {
	background-color: var(--blue-focus);
	color: var(--white-opacity);
}

.contacts {
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}

.social-item:hover {
	background-color: var(--blue-hover);
}

.rating-mini {
	display: inline-block;
	font-size: 0;
}

.rating-mini span {
	padding: 0;
	font-size: 20px;
	line-height: 1;
	color:#81B3D2;
}

.rating-mini > span:before {
	content: '★';
}

.search{
	background-image: url("../img/catalog_background.jpg");
	border: 3px dashed #cfab49;
	width: 1200px;
	height: 217px;
}

.hidden {
	display: none;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}